{% extends "portal_base.html" %}

{% load static %}

{% block title %}Manage Debts{% endblock %}

{% block main %}
<div id="debtors-root"></div>
<script id="debts-data" type="application/json">
  {{ debts_json|safe }}
</script>
<script id="debtors-data" type="application/json">
  {{ debtors_json|safe }}
</script>
<!-- Vite static assets here: -->
<script type="module" src="{% static 'debtors/dist/assets/index-D7btuQhZ.js' %}"></script>
<link rel="stylesheet" href="{% static 'debtors/dist/assets/index-DnTwnJzn.css' %}">
{% csrf_token %}
<div id="root"></div>

{% endblock %}
