{% extends "portal_base.html" %}

{% load static %}

{% block title %}{{ business_name }} - Templates{% endblock %}

{% block main %}
<!-- Vite static assets here: -->
<script type="module" src="{% static 'templates/dist/assets/index-CtAze89r.js' %}"></script>
<link rel="stylesheet" href="{% static 'templates/dist/assets/index-BHhRXLOA.css' %}">

<script id="templates-data" type="application/json">
  {{ templates|safe }}
</script>
<script id="customs-data" type="application/json">
    {{ custom_templates|safe }}
</script>
{% csrf_token %}
<div>
    <div id="root"></div> 
    <style>
        #root {
            min-width:75vw;
            min-height:100%;
        }
    </style>
</div>
{% endblock %}
